@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR:wght@500&display=swap');

* {
    margin: 0 15px;
    padding: 10;

}

body {
    font-family: 'Noto Sans KR', sans-serif;

    /*line-height: 100%;*/
    margin: 0 auto;

    background-color: #f0f2f5;
    color: teal;

}

div {
    font-family: 'Noto Sans KR', sans-serif;
  
}