<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndexPage</title>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
  </head>
  <body>

    <!-- nav 영역 시작 -->
    <div th:replace="fragment/nav"></div>

    <div class="card m-3">
      <div class="card-header">
        Board View
      </div>
      <div class="card-body">

        <!--/*<div th:text="${boardView}"></div>
        <div th:text="${currentPageNum}"></div>*/-->

        <table class="table">

          <tr>
            <td class="col-2 text-center bg-light">제목</td>
            <td th:text="${boardView.title}"></td>
          </tr>
          <tr>
            <td class="col-2 text-center bg-light">작성자</td>
            <td th:text="${boardView.writer}"></td>
          </tr>
          <tr>
            <td class="col-2 text-center bg-light">내용</td>
            <td th:text="${boardView.content}"></td>
          </tr>
          <tr>
            <td class="col-2 text-center bg-light">첨부 사진</td>
            <td>
              <th:block th:if="${boardView.photo!=null}">
              <img th:src="@{/upload/photo/{name}(name=${boardView.photo})}" width="300">
              </th:block>
            </td>
          </tr>
          <tr>
            <td class="col-2 text-center bg-light">작성일</td>
            <td th:text="${boardView.regDate}"></td>
          </tr>
          <tr>
            <td class="col-2 text-center bg-light">수정일</td>
            <td th:text="${boardView.updateDate}"></td>
          </tr>

        </table>

        <div class="text-end">
          <a class="btn btn-warning" th:href="@{/board/edit(bno=${boardView.bno}, p=${currentPageNum})}" >수정</a>
          <a class="btn btn-danger" th:onclick="'deleteBoard('+${boardView.bno}+')'">삭제</a>
          <a class="btn btn-primary" th:href="@{/board/list(p=${currentPageNum})}">리스트</a>
        </div>


        <!-- 댓글 영역 시작 -->

        <div class="card m-2 my-2">
          <div class="card-header">
            댓글
          </div>
          <div class="card-body">


            <!-- 댓글 작성 영역 -->
            <div class="p-3 border-bottom">
              <h5 class="title my-2">댓글 작성하기</h5>
              <div class="mb-3">
                <label class="form-label">작성자</label>
                <input type="text" class="form-control" id="replyer">
              </div>
              <div class="mb-3">
                <label class="form-label">내용</label>
                <textarea class="form-control" rows="3" id="reply"></textarea>
              </div>
              <div class="mb-3">
                <input type="submit" value="등록" id="btn_reply" class="form-control btn btn-primary">
              </div>
            </div>


            <!-- 댓글 리스트 영역 -->
            <table class="table">
              <tbody id="replyList">

              </tbody>
            </table>


          </div>
        </div>

      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="replyEditModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">댓글 수정</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">작성자</label>
              <input type="text" class="form-control" id="ereplyer" readonly>
              <input type="hidden" id="erno">
              <input type="hidden" id="ereplydate">
            </div>
            <div class="mb-3">
              <label class="form-label">내용</label>
              <textarea class="form-control" rows="3" id="ereply"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="btn_edit" class="btn btn-primary">수정 완료</button>
          </div>
        </div>
      </div>
    </div>


    <script>
      function deleteBoard(bno){

        if(confirm("정말로 삭제하시겠습니까?")){
            location.href= '/board/delete?bno='+bno;
        }
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script>

    </script>

    <script th:inline="javascript">

      var bno = [[${boardView.bno}]]

    </script>


    <script>

      let replyList;
      let editModal;

      // 댓글 리스트 출력 영역  캐스팅
      $(document).ready( function (){

        // 캐스팅(문서객체 생성)
        replyList = $('#replyList');

        // 댓글 작성 버튼
        const btn_reply = $('#btn_reply').click(insertReply);

        // 댓글 수정 버튼
        const btn_edit = $('#btn_edit').click(editReply);

        editModal = new bootstrap.Modal('#replyEditModal');


        // 페이지가 로드되면 리스트 출력
        setList();

      });


      // 페이지 로드 이후에 비동기 통신 실행 함수
      function setList(){

        // 비동기 통신 : 댓글 리스트
        $.ajax({
          url : '/reply/'+bno,
          type : 'get',
          async : true,
          dataType : "json",
          timeout : 10000,
          success : function (data){

            console.log('response', data);

            let list = data;

            // 반복문
            $.each(list, (index, reply)=>{

              // 새로운 tr 생성해 replyIndex 영역에 추가
              let html = '<td class="col-2">'+reply.replyer+'</td>'
              html+= '<td class="col">'+reply.reply+'</td>'
              html+= '<td class="col-2">'+reply.replyDate+'</td>'
              html+= '<td class="col-2">' +
                      '<a href="javascript:showEditModal('+reply.rno+')" class="badge bg-warning text-decoration-none">수정</a>' +
                      '<a href="javascript:deleteReply('+reply.rno+')" class="badge bg-danger text-decoration-none">삭제</a> ' +
                      '</td>'

             /* '<a href="javascript:showEditModal('+reply.rno+')" class="badge bg-warning text-decoration-none">수정</a>' +
              '<a href="javascript:deleteReply('+reply.rno+')" class="badge bg-danger text-decoration-none">삭제</a> ' +*/

              // 부모 태그에 요소 추가
              $('<tr></tr>').html(html).addClass('fs-6 text-center').attr('tr-index', reply.rno).appendTo(replyList);

            })

          },
          error : function (request,status,error){
            console.log(error);
          }
        });

      }


      // 버튼 누르면 작성(입력)
      function insertReply(){

        // 서버로 전송할 payload(데이터) 객체 형태로 생성
        const payload = {
          bno : bno,
          reply : $('#reply').val(),
          replyer : $('#replyer').val()
        }

        console.log("payload >>> " + payload);

        $.ajax({
          url: '/reply',
          type: 'post',
          async: true,
          data: JSON.stringify(payload),
          dataType: "json",
          timeout: 10000,
          contentType: "application/json",
          success: function (data) {

            console.log('response', data);

            const reply = data;

            // replyList 영역에 새로운 tr을 추가
            let html = '<td class="col-2">'+reply.replyer+'</td>'
            html+= '<td class="col">'+reply.reply+'</td>'
            html+= '<td class="col-2">'+reply.replyDate+'</td>'
            html+= '<td class="col-2">' +
                    '<a href="javascript:showEditModal('+reply.rno+')" class="badge bg-warning text-decoration-none">수정</a>' +
                    '<a href="javascript:deleteReply('+reply.rno+')" class="badge bg-danger text-decoration-none">삭제</a> ' +
                    '</td>'

            // 부모 태그에 요소 추가
            $('<tr></tr>').html(html).addClass('fs-6 text-center').attr('tr-index', reply.rno).appendTo(replyList);

            // 작성이 완료되고 공백처리
            $('#reply').val('');
            $('#replyer').val('');

          },
          error : function (request,status,error){
            console.log(error);
          }
        });


      }


      // 버튼 누르면 삭제
      function deleteReply(rno){

        if(!confirm('정말로 삭제하시겠습니까?')){
          return;
        }

        console.log('rno >>> ' + rno);

        $.ajax({
          url: '/reply/'+rno,
          type: 'delete',
          async: true,
          timeout: 10000,
          success: function (data) {

            console.log('delete->response : ', data);

            if(data==1){

              // 화면에서 tr-index == 해당 rno 인 행을 삭제
              // 삭제 대상 행 캐스팅
              $('tr[tr-index="'+rno+'"]').remove();
              alert('삭제되었습니다!');

            } else {
              alert('삭제할 대상이 존재하지 않습니다.');
            }
          },
          error : function (request,status,error){
            console.log(error);
          }
        });

      }


      // 수정창 띄우기
      function showEditModal(rno){

        // 모달에서 보여주는 show 함수
        editModal.show();

        const editTD = $('tr[tr-index="'+rno+'"]>td'); // tr안에 있는 td를 모두 select

        //editTD[0].textContent='변경된 데이터'

        console.log(editTD.eq(0).text()); // 작성자
        console.log(editTD.eq(1).text()); // 내용
        console.log(editTD.eq(2).text()); // 등록일

        // 저장된 각 데이터를 get
        $('#erno').val(rno);
        $('#ereplyer').val(editTD.eq(0).text());
        $('#ereply').val(editTD.eq(1).text());
        $('#ereplydate').val(editTD.eq(2).text());

      }


      // 수정한 데이터 반영
      function editReply(rno){

        // 서버로 전송할 payload(데이터) 객체 형태로 생성
        // put -> 전체 데이터의 변경! 모든 데이터를 서버로 전송, 값이 없는 경우 기본값으로 저장
        const payload = {
          bno : bno,
          rno : $('#erno').val(),
          reply : $('#ereply').val(),
          replyer : $('#ereplyer').val(),
          replyDate : $('#ereplydate').val()
        }

        console.log(payload);

        $.ajax({
          url: '/reply/'+payload.rno,
          type: 'put',
          async: true,
          data: JSON.stringify(payload),
          dataType: "json",
          timeout: 10000,
          contentType: "application/json",
          success: function (data) {

            console.log('put->response', data);

            // 입력받은 reply를 set
            const editTD = $('tr[tr-index="'+payload.rno+'"]>td');
            editTD.eq(1).text(payload.reply);


            /*const editTD = $('tr[tr-index="'+payload.rno+'"]');
            editTD.children('td:eq(1)').text(payload.reply);*/

            /*const editTD = $('tr[tr-index="'+payload.rno+'"]>td');
            editTD.eq(1).text(payload.reply);*/

            editModal.hide(); // 닫기

          },
          error : function (request,status,error){
            console.log(error);
          }
        });

      }


    </script>

  </body>
</html>